*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    background: #018DED;
    background-size: cover;
    font-family: 'helvetica neue';
    font-size: 10px;
  }

  body {
    font-family: 'Open Sans';
    font-weight: 300;
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
  }

  .total__container {
    width: 100vw;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .clock__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .digitalClock{
    text-align: center;
    font-size: 3rem;
    color: whitesmoke;
  }

  .weather__container {
    width :50%;
  }
  
  .clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
      0 0 0 4px rgba(0,0,0,0.1),
      inset 0 0 0 3px #EFEFEF,
      inset 0 0 10px black,
      0 0 10px rgba(0,0,0,0.2);
  }

  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
  }

  .hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg)
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.42, 0, 0, 2.3);
  }

  button{
    background:#1AAB8A;
    color:#fff;
    border:none;
    height:4rem;
    font-size:1em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:#fff;
    color:#1AAB8A;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  .second-hand {
    background: red;
    height: 3px;
  }


/* dark mode */
.title {
    color: #db5b33;
    font-weight: 300;
    text-align: center;
}

.toggle-button {
    position: relative;
    width: 100px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
}

/* 토글 버튼 내부의 원 */
.toggle-button>.toggle-button-switch {
    position: absolute;
    top: 2px;
    left: 2px;
    /* toggle => left: 52px */
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 100%;
    transition: left 0.3s;
}

/* 토글 버튼의 바탕 */
.toggle-button>.toggle-button-text {
    display: flex;
    background-color: #3dbf87;
    border-radius: 25px;
    box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
    transition: background-color 0.3s;
}

/* 토글 버튼의 텍스트 */
.toggle-button>.toggle-button-text>.toggle-button-text-on,
.toggle-button>.toggle-button-text>.toggle-button-text-off {
    width: 50%;
    line-height: 50px;
    text-align: center;
    color: #fff;
}

/* Dark Theme */
body.dark {
    background-color: #232323;
}

body.dark .toggle-button>.toggle-button-switch {
    left: 52px;
}

body.dark .toggle-button>.toggle-button-text {
    background-color: #fc3164;
}

body.dark article {
    color: #fff;
}


/* modal */
.body-blackout {
  position: absolute;
  z-index: 1010;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .65);
  display: none;
}
.body-blackout.is-blacked-out {
  display: block;
}
.popup-trigger {
  display: inline-block;
}
.popup-modal {
  height: 365px;
  width: 650px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 45px;
  opacity: 0;
  pointer-events: none;

  z-index: 1011;
}
.popup-modal.is--visible {
  opacity: 1;
  pointer-events: auto;
}
.popup-modal__close {
  position: absolute;
  font-size: 5rem;
  right: -10px;
  top: -10px;
  cursor: pointer;
}